body {
  background-color:#A9A9A9;
}

.form-group {
  margin-bottom: 1.5rem;
}

.get-in-touch-txt {
  margin-left: -30px; 
  color:white;
}
.why-to-contact-txt {
  color:#333;
  margin-left:-30px;

}


.dark-box {
  background-color: #333 !important; 
  padding: 40px;
  border-radius: 10px;
  margin: 0;
}

.dark-box input[type="text"],
.dark-box textarea {
  background-color: black !important;
  color: white !important;
  border:1px solid black ;
}

.btn-priamary {
  margin-left: 0;
} 

 
@media (min-width: 769px) {
  .dark-box {
    margin-top: -40px;
    margin-left: -90px;  
    margin-right: 20px;  
  }

 
  .btn-primary {
    margin-left: -380px;
  }
}

@media screen and (max-width: 768px) {
  .img-fluid {
    display: none;
  }
  
  .dark-box {
    margin-top: 20px;  
    padding: 20px;  
  }
  }

