* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Avenir" , "sans-serif";
  
  }
  
  /* Selection styles */
  ::selection {
    background-color: #D91C1F;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
  }
  
  ::-moz-selection {
    background-color: #D91C1F;
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
  }
  
  ::selection {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ::selection:hover {
    background-color: #F7931A;
    color: #FFFFFF;
  }
  /* Styles for normal state */
  a {
    color: black;
    text-decoration: none; 
    transition:color 0.3s ease, color 0.3s ease;
  }
  
  /* Styles for hover state */
  a:hover {
    color: #fff; /* Change link color on hover */
    text-decoration: underline; /* Add underline on hover */
  }
  
  /* Styles for visited links */
  a:visited {
    color: #6610f2; /* Change color for visited links */
  }
  
  /* Styles for active links */
  a:active {
    color: #0056b3; /* Change color for active links */
  }
  
  
  /* Links styles */
  
  /* Body styles */
  body {
    margin: 0;
    padding: 0;
    background-color: #111;
  }
  
  .top-header {

  }